#buttons-view {
  margin-bottom: 20px;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-family: 'Bungee', cursive;
}

.gif-btn {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-family: 'Bungee', cursive;
}

#gif-form {
  padding: 10px
}

.card {
  animation-name: queryview;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: 5px;
}

#add-gif {
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  animation-name: h1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-family: 'Bungee Shade', cursive;
}

#query-view {
  margin-top: 20px;
  padding: 20px;
  display: block;

  
}

img {
  width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

@keyframes example {
  from {right: 500px;}
  to {right: 0px;}
}

@keyframes animate {
  from {top: 500px;}
  to {top: 0px;}
}

@keyframes queryview {
  from {left: 1000px;}
  to {left: 0px;}
}