#buttons-view {
  margin-bottom: 20px;
  margin-top: -20px;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-family: "Bungee", cursive;
}

.gif-btn {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  font-family: "Bungee", cursive;
}

#gif-form {
  padding: 10px;
}

.card {
  animation-name: queryview;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-bottom: 5px;
}

#add-gif {
  margin-top: 2px;
}

h1 {
  color: #343a40;
  text-align: center;
  font-weight: bolder;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-family: "Bungee Shade", cursive;
}

#query-view {
  margin-top: 20px;
  padding: 20px;
  display: block;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

@keyframes example {
  from {
    right: 500px;
  }

  to {
    right: 0px;
  }
}

@keyframes h1 {
  from {
    bottom: 0px;
  }

  to {
    bottom: 500px;
  }
}

@keyframes queryview {
  from {
    left: 1000px;
  }

  to {
    left: 0px;
  }
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .animate {
    font-size: 60px;
  }
  .alert {
    font-size: 12px;
    cursor: pointer;
  }
}
