#buttons-view {
  margin-bottom: 20px;
}

button {
  margin-right: 3px;
  margin-bottom: 3px;
}

#gif-form {
  padding: 10px
}

#add-gif {
  margin-top: 10px;
}

h1 {
  text-align: center;
}

#query-view {
  margin-top: 20px;
  padding: 20px;
  display: block;
}

img {
  width: 100%
}